:root {
  --font-open: 'Open Sans', sans-serif;
  --font-mulish: ''Mulish', sans-serif;'
}

body {
    margin: 0;
    font-family: var(--font-open);
    background: linear-gradient(90deg, rgb(227, 255, 248, 0) 82.08%, rgb(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
    
  }
  
  .page {
    width: 1280px;
    margin: 0 auto;
    padding-top: 65px;
  }

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/*  h1 as sections */  
  h1 {
    font-family: var(--font-mulish);
    font-size: 46px;
    line-height: 56px;
    color: #1f1534;
    font-weight: normal;
    width: 490px;

  }
  
  h1 span {
    color: #89c5cc;
    font-weight: bold;
  }
  
  section p {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
    width: 438px;
    margin: 40px 0;
  }
  /* nav */
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }
  
  ul {
    display: flex;
    gap: 48px;
    list-style: none;
  }
  
  a {
    color: #1f1534;
    text-decoration: none;
  }
  
  ul li a {
      opacity: 0.5;
  }
  
  ul li a:hover {
    font-weight: bold;
    border-bottom: 1px solid  #1f1534;
    opacity: 1;
  }
/* button */
  
  button {
    color: white;
    background: #69B99D;
    border: none;
    padding: 14px 32px 15px 32px;
    font-family: var(--font-open);
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
      background: #4EA788;
  }
  
  /* rodape */
  footer {
    font-size: 14px;
    line-height: 28px;
  
    text-align: center;
  
    margin-top: 80px;
  }
  
  footer a {
    font-weight: bold;

  }
  footer a:hover {
    font-weight: bold;
          border-bottom: 1px solid  #1f1534;
  }
  
  #balls {
      position: fixed;
      bottom: 0;
      right: 0;
  }
  